<div id="navigation" class="navbar navbar-inverse navbar-fixed-top unfixed" data-scroll-header>
  <div class="navbar-inner">
    <div class="container">
      <a class="brand hidden-phone" href="/"><img src="https://octoprint.org/assets/img/tentacle-20x20.png" alt="Tentacle logo" class="tentacle"> {{ site.title }}</a>
      <a class="brand visible-phone" href="/"><img src="https://octoprint.org/assets/img/tentacle-20x20.png" alt="Tentacle logo" class="tentacle"></a>
      <a href="javascript:void(0)" class="btn btn-burger btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><i class="fas fa-bars"></i></a>
      <div class="pull-right">
        <ul class="nav social-navbar">
          <li><a href="https://octoprint.org/support-octoprint/" title="Support OctoPrint!" data-analytics='"Support Click", { "props": { "origin": "navigation"} }'><i class="fa fa-heart octo-heart"></i></a></li>
          <li><a href="{{ site.mastodonlink }}" title="OctoPrint on Mastodon"><i class="fab fa-mastodon"></i></a></li>
          <li><a href="{{ site.youtubelink }}" title="OctoPrint on YouTube"><i class="fab fa-youtube"></i></a></li>
          <li class="hidden-phone"><a href="{{ site.sourcerepo }}" title="OctoPrint on Github"><i class="fab fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
